
<%= image_tag("library_clipart.gif") %>
<BR>&nbsp;<BR>
<h1>Welcome, What would you like to do today?</h1>
<p>
<%= link_to (image_tag("/images/book_icon.jpg")),new_book_path %>

<%= link_to (image_tag("/images/new_user.png")), new_user_path %>

<%= link_to (image_tag("/images/search_books.png")), search_book_search_path %>

<%= link_to (image_tag("/images/search_users.png")), search_user_search_path %>
</p>
